<%-include('../includes/adminbar.ejs')%>
        <main>

            <div class="page-header">
                <h1>Users</h1>
            </div>

            <div>
              <!-- devices   -->
              <main>
                <% if (users.length > 0) { %>
                    <div class="grid">
                        <% let cnt=1 %>
                        <% for (let user of users) { %>
                                <div class="device-info">
                                    <p>User: <%=cnt%></p>
                                    <p>User email: <%=user.email%></p>
                                    <%cnt=cnt+1%>
                                </div>
                        <%}%>
                    </div>
                    <% } else { %>
                        <h1>No Users Found</h1>
                        <% } %>
            </main>
            </div>
        </main>
    </div>

    

</body>

</html>     