<!DOCTYPE html>
<html>

<head>
    <!-- Set the character set and viewport for responsiveness -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Smart Hygiene Monitoring System</title>
    
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- Include necessary libraries: jQuery, Socket.io, Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

    <!-- Include external CSS file -->
    <link href="//mincss.com/entireframework.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- Include the JavaScript file -->
    <script type="text/javascript" src="/static/js/app.js"></script>

    <!-- Close button -->
    <button class="btn-close btn btn-sm">×</button>

    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3><span>Smart Hygiene </span></h3>
        </div>

        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" ></div>
                <h4>Admin</h4>
                <h4>saloni@gmail.com</h4>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                        <a class="<%=path==='/admin/profile'?'active' : '' %>" href="/admin/profile" >
                            <span class="las la-address-card"></span>
                            <small>Profile</small>
                        </a>
                    </li>
                    <li>
                        <a class="<%=path==='/admindevices'?'active' : '' %>" href="/admindevices" >
                            <span class="la la-tachometer"></span>
                            <small>All Devices</small>
                        </a>
                    </li>
                    <li>
                        <a class="<%=path==='/addusers'?'active' : '' %>" href="/addusers" >
                            <span class="las la-plus-square"></span>
                            <small>Add User</small>
                        </a>
                    </li>
                    <li>
                        <a class="<%=path==='/adminusers'?'active' : '' %>" href="/adminusers" >
                            <span class="las la-user-alt"></span>
                            <small>Users</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-content">

        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">
                    <label for="">
                        <span class="las la-search"></span>
                    </label>

                    <div class="notify-icon">
                        <span class="las la-envelope"></span>
                        <span class="notify">4</span>
                    </div>

                    <div class="notify-icon">
                        <span class="las la-bell"></span>
                        <span class="notify">3</span>
                    </div>

                    <div class="user">
                        <form action="/logout" method="post">
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </header>