<%-include('../includes/sidebar.ejs',{user:user}) %>
        <main>

            <div class="page-header">
                <h1>Mailbox</h1>
            </div>
            

        </main>
    </div>

    

</body>

</html>